{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form class='form postForm' method='POST' enctype='multipart/form-data'>
	{% csrf_token %}
	{{ form|crispy }}
        {{ formset|crispy }}
        <input type="text" id="txtautocomplete" style="width:200px" placeholder="{{ form.instance.location }}" />
        <button class="primaryAction btn btn-success" type="submit">Submit</button>
</form>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD52gtDK6h64U9oRPhszZvDYKobM7ieII0&libraries=places"></script>

<script type="text/javascript">

        var itemCity = '';
        var itemPc='';
        var itemState = '';
        var itemCountry='';
        var itemAddress= '';
        var itemLat = 0.0;
        var itemLng = 0.0;

        google.maps.event.addDomListener(window, 'load', intilize);
        function intilize() {
                var autocomplete = new google.maps.places.Autocomplete(document.getElementById('txtautocomplete'));

                        google.maps.event.addListener(autocomplete, 'place_changed', function () {

                                var place = autocomplete.getPlace();
                                var arrAddress = place.address_components;

                                itemLat = place.geometry.location.lat();
                                itemLng = place.geometry.location.lng();                      

                                // iterate through address_component array
                                $.each(arrAddress, function (i, address_component) {

                                    if (address_component.types[0] == "locality"){
                                        console.log("city:"+address_component.long_name);
                                        itemCity = address_component.long_name;
                                    }

                                    if (address_component.types[0] == "country"){
                                        console.log("country:"+address_component.short_name); 
                                        itemCountry = address_component.short_name;
                                    }

                                    if (address_component.types[0] == "administrative_area_level_1"){ 
                                        console.log("state:"+address_component.short_name);
                                        itemState = address_component.short_name;
                                        itemState = address_component.short_name;
                                    }

                                    if (address_component.types[0] == "postal_code"){ 
                                        console.log("pc:"+address_component.long_name);
                                        itemPc = address_component.long_name;
                                    }
                                    //return false; // break the loop   
                                });


                                $(document).ready(function(){
                                        var csrftoken = Cookies.get('csrftoken');
                                        function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
                                        $.ajaxSetup({
                                                 beforeSend: function(xhr, settings) {
                                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                                }
                                          }
                                        });
                                       $(".postForm").submit(function(event) {
                                            $.ajax ({
                                              url: "{% url 'posts:ajax_location' %}",
                                              type: "POST",
                                              data: {id: {{ form.instance.id }},
                                              city: itemCity,
                                              state: itemState,
                                              country: itemCountry,
                                              latitude: itemLat,
                                              longitude: itemLng},
                                              dataType: "json",
                                            });
                                          });
                                })

                });
        };
</script>

{% endblock %}
