{% url 'posts:post_detail' pk=instance.id as post_detail_url %}

<div class="card border border-dark">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {% for image in instance.images.all|slice:"3" %}
      {% if forloop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}
          <img class="d-block img-fluid" src="{{ image.image.url }}" alt={% if image.title %}"{{image.title}}"{% endif %}>
        </div>
    {% endfor %}
   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
    <div class="card-body">
      <h5 class="card-title">{{ instance.title }}</h5>
      <h5>{{ instance.price }}</h5>
      <p class="card-text">{% if request.path == post_detail_url %}{{ instance.content }}{% else %}{{ instance.content|truncatewords:12 }}{% endif %}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ instance.created|timesince }} ago</small>
      <small class="pull-right">{{ instance.location }}</small>
      {% if request.user == instance.owner and request.path == post_detail_url %}
      <a href="{% url 'posts:post_update' pk=instance.id %}" class="btn btn-warning">Update</a>
      <a href="{% url 'posts:post_delete' pk=instance.id %}" class="btn btn-danger">Delete</a></small>
      {% elif request.user != instance.owner and request.path == post_detail_url %}

	<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Make Bid
</button>  


      {% elif request.path != post_detail_url %}
      <a href="{% url 'posts:post_detail' pk=instance.id %}" class="btn btn-info btn-block">view</a>
      {% endif %}
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title mx-auto" id="exampleModalLabel"><strong>Enter your offer</strong></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	<h5><center>{{ instance.title }}</center></h5>
      <div class="modal-body mx-auto">
	<form class='form formBid' action='{% url 'posts:post_add' %}' method='POST'>
		<div class='form-group'>
			<input class='bid form-control' type='text' name='bid' value='{{ instance.price }}'>
		</div>
	</form>
      </div>
      <div class="modal-footer">
	<hr>
        <button type="button" class="mb btn btn-block btn-primary">Send Offer</button>
      </div>
    </div>
  </div>
</div>

