asgiref==2.3.2
async-timeout==3.0.0
attrs==18.1.0
autobahn==18.7.1
Automat==0.7.0
boto==2.49.0
botocore==1.10.70
channels==2.1.2
constantly==15.1.0
daphne==2.2.1
Django==2.1
django-crispy-forms==1.7.2
django-storages==1.6.6
djangorestframework==3.8.2
docutils==0.14
gunicorn==19.9.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
jmespath==0.9.3
Pillow==5.2.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
PyHamcrest==1.9.0
python-dateutil==2.7.3
pytz==2018.5
s3transfer==0.1.13
six==1.11.0
Twisted==18.7.0
txaio==18.7.1
zope.interface==4.5.0
